.bloc_aporpos{
    border-bottom: 5px solid $text-color;
    background-color: $main-color;
    .division{
        display: flex;
        flex-direction: row;
        @include respond-to(496px){
            flex-direction: column;
            align-items: center;
        }
        .description{
            margin: auto;
            font-size: 50px;
        }
        .images{
            width: 80%;
            img{
                 margin: 20px 20px;
                @include respond-to(496px){
                    width: 100%;
                    margin: 0;
                }
                @include respond-to(950px){
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}